# Created by .ignore support plugin (hsz.mobi)
Будет удалено $s.db
Будет удалено .gitignore
Будет удалено .gradle/
Будет удалено .idea/
Будет удалено META-INF/
Будет удалено VINNITSA.db
Будет удалено build.gradle
Будет удалено gradle/
Будет удалено gradlew
Будет удалено gradlew.bat
Будет удалено out/
Будет удалено settings.gradle
Будет удалено src/
$s.db
.db
Будет удалено .idea/dataSources.local.xml
Будет удалено .idea/dataSources/f6f046d2-6358-40a4-a563-64c93a5af839/_src_/
Будет удалено .idea/dataSources/f6f046d2-6358-40a4-a563-64c93a5af839/_staging_/
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/workspace.xml
Будет удалено src/test/
